{% extends "tenant/master.jinja.html" %}
{% set page_name = "Home" %}
{% block main %}
	<div class="uk-container uk-container-xsmall">
		<h2>Welcome to a Tidy Home</h2>
		<p>Your temporary home was cleaned by Tidy Home. We network skilled hospitality professionals with hosts like
		   yours, to make
		   sure you have the best possible experience. We would like your feedback on how Tidy your space is.</p>
		<button class="uk-button uk-button-default">Very Tidy</button>
		<button class="uk-button uk-button-default">Quite Tidy</button>
		<button class="uk-button uk-button-default">Tidy</button>
		<button class="uk-button uk-button-default">Not Quite Tidy</button>
		<button class="uk-button uk-button-default">Very Not Tidy</button>
	</div>
{% endblock %}