<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ url_for("static", filename="lib/uikit.min.css") }}" />
	<!-- Generic Meta Tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Tidy Spaces | Connecting AirBnB Hosts with Accountable Cleaning Services">
	<meta name="keywords" content="airbnb,cleaning">
	<meta name="author" content="Tidy Spaces Team">
	<!-- OpenGraph Meta Tags -->
	<meta property="og:title" content="Tidy Spaces" />
	<meta property="og:description" content="Connecting AirBnB Hosts with Accountable Cleaning Services" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ request.url }}" />
	<meta property="og:image" content="{{ url_for("static", filename="img/Logo-Medium.png") }}" />

	<link rel="icon"
		  href="{{ url_for("static", filename="favicon.ico") }}"
	>

	<title>{{ page_name or "Portal" }} | Tidy Space {{ "| %s" % portal }}</title>
	<script src="{{ url_for("static", filename="lib/jquery-3.4.1.min.js") }}"></script>
	<script src="{{ url_for("static", filename="lib/jquery.serializeObject.min.js") }}"></script>

</head>
<body>
<div class="uk-width-1-1 uk-position-relative" uk-height-viewport="expand: true">
	<div class="uk-width-1-1 uk-background-secondary uk-light uk-height-1-1 uk-position-relative">
		<header class="uk-text-center uk-padding-small uk-container uk-container-xsmall">
			<img uk-img src="{{ url_for("static", filename="img/Logo-Only-Inverted.png") }}" class="uk-margin-remove">
			<h1 class="uk-margin-remove">Tidy Space</h1>
			<hr style="margin:0 25%">
			<span class="uk-text-meta uk-margin-remove">{{ portal }}</span>
		</header>
		<main class="uk-text-center">
			{% block main %}
			{% endblock %}
		</main>
		<footer class="uk-width-1-1 uk-position-bottom uk-text-center uk-padding-small uk-text-small">
			Copyright 2019 Tidy Space
		</footer>
	</div>
</div>

<script src="{{ url_for("static", filename="lib/uikit.min.js") }}"></script>
<script src="{{ url_for("static", filename="lib/uikit-icons.min.js") }}"></script>

</body>
</html>