<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />
	<!-- Generic Meta Tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Template Project Created by Brian Donald">
	<meta name="keywords" content="">
	<meta name="author" content="Brian Donald">
	<!-- OpenGraph Meta Tags -->
	<meta property="og:title" content="Template Project" />
	<meta property="og:description" content="Created by Brian Donald" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ request.url }}" />
	<meta property="og:image" content="" />

	<title>Flask/UIKit/Docker Template</title>

</head>
<body class="uk-width-1-1 uk-position-relative" uk-height-viewport="expand: true">
<header>
	<div class="uk-width-1-1 uk-light uk-background-secondary uk-padding-small uk-text-center">
		<h1 class="uk-margin-remove">Template Project</h1>
	</div>
	<nav class="uk-navbar-container" uk-navbar>
		<div class="uk-navbar-center">
			<ul class="uk-navbar-nav">
				<li><a>Link</a></li>
				<li><a>Link</a></li>
				<li><a>Link</a></li>
				<li><a>Link</a></li>
				<li><a>Link</a></li>
			</ul>
		</div>
	</nav>
</header>
<main class="uk-container">
	<section class="uk-section uk-height-large">
		<header class="uk-height-small uk-margin-small">
			<div class="uk-inline uk-background-cover uk-width-1-1 uk-height-1-1"
				 data-src="https://images.pexels.com/photos/2622179/pexels-photo-2622179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
				 uk-img
				 uk-parallax="bgy: -100"
			>
				<div class="uk-overlay uk-overlay-primary uk-position-center uk-width-1-1">
					<h2>This is a section!</h2>
				</div>
			</div>
		</header>
		<hr>
		<main class="uk-container">
			<div class="uk-margin-small">
				Sunshine Valley is an eloquent, close knit community located in the suburbs of Kansas City. At Sunshine
				Valley we aspire to create a welcoming environment for your family by providing all the services
			</div>
		</main>
		<hr>
	</section>
</main>
<footer class="uk-width-1-1 uk-position-bottom uk-text-center uk-padding-small uk-text-small">
	<p class="uk-margin-remove">Don't forget to change this, I don't want to own your page</p>
	<p class="uk-margin-remove">Copyright 2019 Brian Donald</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>

</body>
</html>