<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />
	<!-- Generic Meta Tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Template Project Created by Brian Donald">
	<meta name="keywords" content="">
	<meta name="author" content="Brian Donald">
	<!-- OpenGraph Meta Tags -->
	<meta property="og:title" content="Template Project" />
	<meta property="og:description" content="Created by Brian Donald" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ request.url }}" />
	<meta property="og:image" content="" />

	<link rel="icon"
		  href="{{ url_for("static", filename="favicon.ico") }}"
	>

	<title>Portal | TinySpace</title>

</head>
<body>
<div class="uk-width-1-1 uk-position-relative" uk-height-viewport="expand: true">
	<header class="uk-width-1-5 uk-background-secondary uk-light uk-height-1-1 uk-position-fixed">
		<div class="uk-text-center uk-padding-small uk-width-1-1 uk-logo">
			<img uk-img src="{{ url_for("static", filename="img/Logo-Only-Inverted.png") }}" class="uk-margin-remove">
			<h1 class="uk-margin-remove">Tiny Space</h1>
			<hr style="margin:0 25%">
			<span class="uk-text-meta uk-margin-remove">{{ portal }}</span>
		</div>
		<div class="uk-text-right uk-position-center-right uk-margin-large-right">
			<ul class="uk-nav">
				{% block nav %}{% endblock %}
			</ul>
		</div>
		<footer class="uk-width-1-1 uk-position-bottom uk-text-center uk-padding-small uk-text-small">
			Copyright 2019 Tiny Space
		</footer>
	</header>
	<main class="uk-width-4-5 uk-overflow-auto uk-position-top-right uk-height-1-1">
		{% block main %}
		{% endblock %}
	</main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>

</body>
</html>